<section class="faceSelect">
    <ul>
        <li ng-repeat="face in view.faceIds"
            class="faceListItem"
            musical-face
            face-id="face.id"
            face-type="sequencer"
            dnd-draggable="face">
        </li>
    </ul>
</section>
<section ng-controller="sequencerCtrl"
    class="sequencer">
    <ol dnd-list="view.faces"
        class="sequencerRow">
        <li ng-repeat="face in view.faces"
            musical-face
            face-id="face.id"
            face-type="sequencer"
            class="faceInSequencer">
        </li>
    </ol>
</section>
