<section class="faceSelect"
    ng-controller="facePaletteCtrl">
    <h2>Available Faces</h2>
    <hr>

    <button ng-show="!palette.show">
      <span class="fa fa-caret-square-o-down" ng-click="showHide()"></span>
    </button>
    <button ng-show="palette.show">
      <span class="fa fa-caret-square-o-up" ng-click="showHide()"></span>
    </button>

    <ul ng-class="{expanded: palette.show, contracted: !palette.show}">
        <li ng-repeat="face in view.faceIds"
            class="faceListItem"
            musical-face
            face-id="face.id"
            face-type="sequencer"
            dnd-draggable="face">
        </li>
    </ul>
</section>

<section ng-controller="sequencerCtrl"
    class="sequencer">

    <div class="headerRow">
        <h2>Sequencer</h2>
        <hr>
    </div>

    <ol dnd-list="sequence.faces"
        class="sequencerRow">
        <p ng-if="!sequence.faces.length"
            class="dragHere">
            Drag faces here
        </p>
        <li ng-repeat="face in sequence.faces"
            musical-face
            face-id="face.id"
            face-type="sequencer"
            class="faceInSequencer"
            dnd-draggable="face"
            dnd-moved="sequence.faces.splice($index, 1)"
            dnd-canceled="sequence.faces.splice($index, 1)">
        </li>
    </ol>

    <div class="sequencerControls">
        <button class="playButton">
        <span class="fa fa-play-circle"></span>
      </button>
        <button class="stopButton">
        <span class="fa fa-stop-circle"></span>
      </button>
    </div>

</section>
