<form class="uploadForm" ngf-drag-over-class="'dragover'" ngf-drop=uploadPhoto($file)>
    <input type="file"
        ngf-select
        name="file"
        ng-model="upload.file">
    <button type="button"
        name="uploadPhoto"
        ng-click="uploadPhoto(upload.file)">Upload Photo</button>
</form>
<div class="loading" ng-if="upload.inProgress">
    <span>Uploading...</span>
    <span class="fa fa-cog fa-lg"></span>
</div>
<h1 class="error"
    ng-if="upload.error">{{ upload.error }}</h1>

<img ng-src="{{ upload.url }}"
    class="previewImg"
    alt="FACE"
    ng-if="upload.url">
