<form class="uploadForm">
    <input type="file"
        ngf-select
        name="file"
        ng-model="upload.file">
    <button type="button"
        name="uploadPhoto"
        ng-click="uploadPhoto(upload.file)">Upload Photo</button>
</form>
<img ng-src="{{ upload.url }}"
    class="previewImg"
    alt="FACE">
<div ng-repeat="(key, value) in upload.faceData track by $index">
    <h2>{{ key }}</h2>
    <div ng-repeat="(subKey, subValue) in value track by $index">
        <h3>{{ subKey }} : {{ subValue }}</h3>
        <div ng-repeat="(subSubKey, subSubValue) in subValue track by $index">
            <h4>{{ subSubKey }} : {{ subSubValue }}</h4>
        </div>
    </div>

</div>
